.row
    .col-xs-12
        .well
            .row
                .col-xs-12.text-center Enter symbols from image and proceed to previous page
            br
            .row
                .col-xs-12.text-center

            form.form-horizontal(role="form",
                                 data-ng-submit="saveEnteredCaptcha($event)")

                .form-group
                    label.col-xs-offset-2.col-xs-2.control-label Captcha Image
                    .col-xs-6
                        img(data-ng-src="{{ proxy(captchaUrl) }}")
                .form-group
                    label.col-xs-offset-2.col-xs-2.control-label(for="inputCaptcha") Captcha Key
                    .col-xs-4
                        input#inputCaptcha.form-control(type="text",
                                                        placeholder="Captcha Key",
                                                        required,
                                                        data-ng-model="captchaKey")
                .form-group
                    .col-xs-offset-4.col-xs-6
                        button.btn.btn-primary(type="submit") Send Captcha
