.row
    form(role="form", accept-charset="utf-8", data-ng-submit="find($event)")
        .col-xs-10
            input.form-control(type="text", placeholder="Enter query", data-ng-model="query")
        .col-xs-2
            button.btn.btn-default.btn-block(type="submit") Find
br
.loader(data-ng-show="loading") Loading
.row.animate-show(data-ng-show="visibleAudios")
    .col-xs-12
        #playlist.well.well-lg
            div(data-infinite-scroll="loadMore()")
                .row.track(data-ng-repeat="audio in visibleAudios",
                            data-ng-click="playAudio(audio, $index)",
                            data-ng-class="{ 'now-playing': audio.aid == player.current.aid }")
                    .col-xs-9
                        span.artist(data-ng-bind-html="trust(audio.artist)")
                        | &nbsp;-&nbsp;
                        span(data-ng-bind-html="trust(audio.title)")
                    .col-xs-2.text-right {{ formatTime(audio.duration) }}
                    .col-xs-1.text-right
                        span.glyphicon.glyphicon-plus.animate-show(data-ng-click="addToUserAudios(audio, $event)",
                            data-ng-hide="audio.saved",
                            title="Add to My Music")
                        span.glyphicon.glyphicon-ok.animate-show(data-ng-show="audio.saved",
                            title="Successfully added")