.row
    .col-xs-12
        .loader(data-ng-show="loading") Loading
        #playlist.well.well-lg.animate-show(data-ng-hide="loading")
            div(data-infinite-scroll="loadMore()")
                .row.track(data-ng-repeat="audio in visibleAudios",
                        data-ng-click="playAudio(audio, $index)",
                        data-ng-class="{ 'now-playing': audio.aid == player.current.aid, 'deleted': audio.deleted }")
                    .col-xs-9
                        span.artist(data-ng-bind-html="trust(audio.artist)")
                        | &nbsp;-&nbsp;
                        span(data-ng-bind-html="trust(audio.title)")
                    .col-xs-2.text-right {{ formatTime(audio.duration) }}
                    .col-xs-1.text-right
                        span.glyphicon.glyphicon-remove.animate-show(data-ng-click="removeFromUserAudios(audio, $event)",
                            data-ng-hide="audio.deleted",
                            title="Remove from My Music")
                        span.glyphicon.glyphicon-ok.animate-show(data-ng-show="audio.deleted",
                        title="Successfully deleted")